html{
	background-color: slateGray;
}

h1{
	font-size: 50px;
	font: Arial;
	height: 50px;
	text-align: center;
	color: aqua;
}

form#insco{
	text-align: center;
}

div{	
	text-align: center;
}

button{
	background-color: palegreen;	
	width: 200px;
	height: 100px;
	font-size: 30px;
	font-family: serif;
}

label{
	font-size: 20px;
}

#valider{
	background-color: darkviolet;
	width: 200px;
	height: 50px;
	margin-left: 800px;
	margin-top: 20px;
}

#retour{
	background-color: lightsalmon;
	width: 200px;
	height: 50px;
}

textarea#dialog{
     width: 150px;
     height: 400px;
     background-color: red;
     resize:none;
}

textarea#dialog textarea{
     width: 130px;
     background-color: blue;
     resize:none;
}

textarea#dialogmess{
     width: 150px;
     height: 100px;
     background-color: pink;
     resize:none;
}

textarea#texte{
    resize:none;    
     width: 800px;
     height: 500px;
     background-color: whith;
}

block form{
    float: left; 
}
block textarea#texte{
    margin-left:200px;
}

#envoyer{
    font-size: 20px;
    width: 160px;
    height: 50px;
}

#Connection{
	margin-left: 50px;
	var message=document.getElementById("dialogmess").value;}

#dialog{
    style : float-left;
}
